@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
}

body{
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

header{
    background-color: #ffffff;
    border-bottom: 2px solid #045cac;
    box-shadow: 3px 3px 8px #c0c0c0;
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
}

.logo-link{
    margin-left: 16px;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.logo{
    width: 160px;
    display: block;
}

h1{
    color: #045cac;
    font-size: 32px;
    padding: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main{
    flex: 1;
}

.campo,
.campo-dois{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin: 2rem auto;
    outline: 1.5px solid #045cac;
    padding: 12px;
    box-shadow: -5px 5px 10px #c0c0c0;
}

.dados,
.dados-dois{
    margin: 0;
    padding: 0;
}

.dados input,
.dados-dois input{
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #adadad;
    margin-bottom: 10px;
    padding: 6px;
    width: 100%;
}

select{
    width: 100%;
    padding: 6px;
    text-align: center;
}

button{
    cursor: pointer;
    background-color: #045cac;
    color: #fff;
    font-weight: bold;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #558bff;
}

button:hover{
    background-color: #0439ac;
}

.text-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.text-img img{
    width: 100px;
}

.content{
    background-color: #dfdfdf;
}

.content-wrapper-um,
.content-wrapper-dois{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.content-wrapper-um{
    margin-bottom: 32px;
    margin-left: 15%;
    width: 1280px;
}

.content-wrapper-um h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.content-wrapper-dois{
    margin-left: 15%;
    width: 1280px;
}

.content-wrapper-dois h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.content-wrapper-dois p{
    padding-bottom: 15px;
}

a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #045cac;
}

footer{
    background-color: #ffffff;
    border-top: 2px solid #045cac;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    box-shadow: 0 -3px 8px #c0c0c0;
}

@media (max-width: 600px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1{
        font-size: 15px;
        width: 100%;
    }
    .logo{
        width: 100px;
    }
    .text-img{
        flex-direction: column;
        text-align: center;
    }
    .content-wrapper-um,
    .content-wrapper-dois{
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }
    .content-wrapper-um p,
    .content-wrapper-dois p{
        width: 300px;
        font-size: 12px;
    }

    .content-wrapper-um h3,
    .content-wrapper-dois h3{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
}

